In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("default")

In [2]:
df_test = pd.read_csv("data/Test.csv", low_memory=False, parse_dates=["saledate"])
df_test.head()

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,fiModelDesc,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1227829,1006309,3168,121,3,1999,3688.0,Low,2012-05-03,580G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1227844,1022817,7271,121,3,1000,28555.0,High,2012-05-10,936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1227847,1031560,22805,121,3,2004,6038.0,Medium,2012-05-10,EC210BLC,...,None or Unspecified,"9' 6""",Manual,None or Unspecified,Double,NaN,NaN,NaN,NaN,NaN
3,1227848,56204,1269,121,3,2006,8940.0,High,2012-05-10,330CL,...,None or Unspecified,None or Unspecified,Manual,Yes,Triple,NaN,NaN,NaN,NaN,NaN
4,1227863,1053887,22312,121,3,2005,2286.0,Low,2012-05-10,650K,...,NaN,NaN,NaN,NaN,NaN,None or Unspecified,PAT,None or Unspecified,NaN,NaN

In [3]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12457 entries, 0 to 12456
Data columns (total 52 columns):
SalesID                     12457 non-null int64
MachineID                   12457 non-null int64
ModelID                     12457 non-null int64
datasource                  12457 non-null int64
auctioneerID                12457 non-null int64
YearMade                    12457 non-null int64
MachineHoursCurrentMeter    2129 non-null float64
UsageBand                   1834 non-null object
saledate                    12457 non-null datetime64[ns]
fiModelDesc                 12457 non-null object
fiBaseModel                 12457 non-null object
fiSecondaryDesc             8482 non-null object
fiModelSeries               2006 non-null object
fiModelDescriptor           3024 non-null object
ProductSize                 6048 non-null object
fiProductClassDesc          12457 non-null object
state                       12457 non-null object
ProductGroup                12457 non-null object
ProductGroupDesc            12457 non-null object
Drive_System                2759 non-null object
Enclosure                   12455 non-null object
Forks                       6308 non-null object
Pad_Type                    2108 non-null object
Ride_Control                4241 non-null object
Stick                       2108 non-null object
Transmission                4818 non-null object
Turbocharged                2108 non-null object
Blade_Extension             651 non-null object
Blade_Width                 651 non-null object
Enclosure_Type              651 non-null object
Engine_Horsepower           651 non-null object
Hydraulics                  10315 non-null object
Pushblock                   651 non-null object
Ripper                      2704 non-null object
Scarifier                   651 non-null object
Tip_Control                 651 non-null object
Tire_Size                   2778 non-null object
Coupler                     7601 non-null object
Coupler_System              2066 non-null object
Grouser_Tracks              2066 non-null object
Hydraulics_Flow             2066 non-null object
Track_Type                  3394 non-null object
Undercarriage_Pad_Width     3398 non-null object
Stick_Length                3394 non-null object
Thumb                       3395 non-null object
Pattern_Changer             3394 non-null object
Grouser_Type                3394 non-null object
Backhoe_Mounting            2051 non-null object
Blade_Type                  2058 non-null object
Travel_Controls             2058 non-null object
Differential_Type           2129 non-null object
Steering_Controls           2129 non-null object
dtypes: datetime64[ns](1), float64(1), int64(6), object(44)
memory usage: 4.9+ MB

## Preprocessing our data

The columns of training data and test data should have to be same

In [5]:
df_test.saledate

0       2012-05-03
1       2012-05-10
2       2012-05-10
3       2012-05-10
4       2012-05-10
           ...
12452   2012-10-24
12453   2012-10-24
12454   2012-10-24
12455   2012-10-24
12456   2012-09-19
Name: saledate, Length: 12457, dtype: datetime64[ns]

### step-1: order by date

In [6]:
df_test.sort_values(by=["saledate"], inplace=True)
df_test.saledate

1408    2012-05-01
1023    2012-05-01
1728    2012-05-01
1167    2012-05-01
1594    2012-05-01
           ...
9941    2012-11-15
9936    2012-11-15
11620   2012-11-15
9995    2012-11-15
9803    2012-11-16
Name: saledate, Length: 12457, dtype: datetime64[ns]

#### make a copy

In [7]:
df_tmp = df_test.copy()

### Step-2: Enrich the dataframe with datetime column

In [8]:
df_tmp["saleYear"] = df_tmp.saledate.dt.year
df_tmp["saleMonth"] = df_tmp.saledate.dt.month
df_tmp["saleDate"] = df_tmp.saledate.dt.day
df_tmp["saleDayOfWeek"] = df_tmp.saledate.dt.dayofweek
df_tmp["saleDayOfYear"] = df_tmp.saledate.dt.dayofyear

### step-3: Drop `saledate` column

In [9]:
df_tmp.drop("saledate", axis=1, inplace=True)

In [10]:
df_tmp.columns

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'fiModelDesc',
       'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries', 'fiModelDescriptor',
       'ProductSize', 'fiProductClassDesc', 'state', 'ProductGroup',
       'ProductGroupDesc', 'Drive_System', 'Enclosure', 'Forks', 'Pad_Type',
       'Ride_Control', 'Stick', 'Transmission', 'Turbocharged',
       'Blade_Extension', 'Blade_Width', 'Enclosure_Type', 'Engine_Horsepower',
       'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier', 'Tip_Control',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'saleYear', 'saleMonth',
       'saleDate', 'saleDayOfWeek', 'saleDayOfYear'],
      dtype='object')

### step-4: Convert all of the string values into category

In [11]:
for label, content in df_tmp.items():
    if pd.api.types.is_string_dtype(content):
        df_tmp[label] = content.astype("category").cat.as_ordered()

In [12]:
df_tmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12457 entries, 1408 to 9803
Data columns (total 56 columns):
SalesID                     12457 non-null int64
MachineID                   12457 non-null int64
ModelID                     12457 non-null int64
datasource                  12457 non-null int64
auctioneerID                12457 non-null int64
YearMade                    12457 non-null int64
MachineHoursCurrentMeter    2129 non-null float64
UsageBand                   1834 non-null category
fiModelDesc                 12457 non-null category
fiBaseModel                 12457 non-null category
fiSecondaryDesc             8482 non-null category
fiModelSeries               2006 non-null category
fiModelDescriptor           3024 non-null category
ProductSize                 6048 non-null category
fiProductClassDesc          12457 non-null category
state                       12457 non-null category
ProductGroup                12457 non-null category
ProductGroupDesc            12457 non-null category
Drive_System                2759 non-null category
Enclosure                   12455 non-null category
Forks                       6308 non-null category
Pad_Type                    2108 non-null category
Ride_Control                4241 non-null category
Stick                       2108 non-null category
Transmission                4818 non-null category
Turbocharged                2108 non-null category
Blade_Extension             651 non-null category
Blade_Width                 651 non-null category
Enclosure_Type              651 non-null category
Engine_Horsepower           651 non-null category
Hydraulics                  10315 non-null category
Pushblock                   651 non-null category
Ripper                      2704 non-null category
Scarifier                   651 non-null category
Tip_Control                 651 non-null category
Tire_Size                   2778 non-null category
Coupler                     7601 non-null category
Coupler_System              2066 non-null category
Grouser_Tracks              2066 non-null category
Hydraulics_Flow             2066 non-null category
Track_Type                  3394 non-null category
Undercarriage_Pad_Width     3398 non-null category
Stick_Length                3394 non-null category
Thumb                       3395 non-null category
Pattern_Changer             3394 non-null category
Grouser_Type                3394 non-null category
Backhoe_Mounting            2051 non-null category
Blade_Type                  2058 non-null category
Travel_Controls             2058 non-null category
Differential_Type           2129 non-null category
Steering_Controls           2129 non-null category
saleYear                    12457 non-null int64
saleMonth                   12457 non-null int64
saleDate                    12457 non-null int64
saleDayOfWeek               12457 non-null int64
saleDayOfYear               12457 non-null int64
dtypes: category(44), float64(1), int64(11)
memory usage: 1.9 MB

### step-5: Fill the columns first that have numerical missing values

In [13]:
for label, content in df_tmp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

MachineHoursCurrentMeter

#### observation

in the train data, `auctioneerID` column had null values. But in the test data there are no null values

In [20]:
df_tmp.auctioneerID.isna().sum()

0

In [21]:
# fill missing data with median value
for label, content in df_tmp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            # Add a binary column which tells us if the data was missing
            df_tmp[label+"_is_missing"] = pd.isnull(content)
            # Fill missing numeric values with median
            df_tmp[label] = content.fillna(content.median())

### step-6: Filling missing categorical values

In [22]:
for label, content in df_tmp.items():
    if not pd.api.types.is_numeric_dtype(content):
        # Add binary column
        df_tmp[label+"_is_missing"] = pd.isnull(content)
        # Turn categories into numbers and add 1
        df_tmp[label] = pd.Categorical(df_tmp["state"]).codes + 1

In [23]:
len(df_tmp.columns)

101

#### check the differences with the `X_train`

In [25]:
X_train = pd.read_csv("data/x_train.csv", low_memory=False)
len(X_train.columns)

102

In [26]:
set(X_train.columns) - set(df_tmp.columns)

{'auctioneerID_is_missing'}

### step-7: manually adjust `auctioneerID_is_missing` column

In [27]:
df_tmp["auctioneerID_is_missing"] = False
len(df_tmp.columns)

102

### step-8: export this modified dataset

In [28]:
df_tmp.to_csv("data/eda_test.csv", index=False)