In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("default")

In [2]:
df = pd.read_csv("data/eda_1.csv", low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 57 columns):
SalesID                     412698 non-null int64
SalePrice                   412698 non-null float64
MachineID                   412698 non-null int64
ModelID                     412698 non-null int64
datasource                  412698 non-null int64
auctioneerID                392562 non-null float64
YearMade                    412698 non-null int64
MachineHoursCurrentMeter    147504 non-null float64
UsageBand                   73670 non-null object
fiModelDesc                 412698 non-null object
fiBaseModel                 412698 non-null object
fiSecondaryDesc             271971 non-null object
fiModelSeries               58667 non-null object
fiModelDescriptor           74816 non-null object
ProductSize                 196093 non-null object
fiProductClassDesc          412698 non-null object
state                       412698 non-null object
ProductGroup                412698 non-null object
ProductGroupDesc            412698 non-null object
Drive_System                107087 non-null object
Enclosure                   412364 non-null object
Forks                       197715 non-null object
Pad_Type                    81096 non-null object
Ride_Control                152728 non-null object
Stick                       81096 non-null object
Transmission                188007 non-null object
Turbocharged                81096 non-null object
Blade_Extension             25983 non-null object
Blade_Width                 25983 non-null object
Enclosure_Type              25983 non-null object
Engine_Horsepower           25983 non-null object
Hydraulics                  330133 non-null object
Pushblock                   25983 non-null object
Ripper                      106945 non-null object
Scarifier                   25994 non-null object
Tip_Control                 25983 non-null object
Tire_Size                   97638 non-null object
Coupler                     220679 non-null object
Coupler_System              44974 non-null object
Grouser_Tracks              44875 non-null object
Hydraulics_Flow             44875 non-null object
Track_Type                  102193 non-null object
Undercarriage_Pad_Width     102916 non-null object
Stick_Length                102261 non-null object
Thumb                       102332 non-null object
Pattern_Changer             102261 non-null object
Grouser_Type                102193 non-null object
Backhoe_Mounting            80712 non-null object
Blade_Type                  81875 non-null object
Travel_Controls             81877 non-null object
Differential_Type           71564 non-null object
Steering_Controls           71522 non-null object
saleYear                    412698 non-null int64
saleMonth                   412698 non-null int64
saleDate                    412698 non-null int64
saleDayOfWeek               412698 non-null int64
saleDayOfYear               412698 non-null int64
dtypes: float64(3), int64(10), object(44)
memory usage: 179.5+ MB

#### observation
Looks like categorical data turned into object. So doing that again

In [8]:
df_tmp = df.copy()

In [9]:
# label = column name(key), content = values in the column
for label, content in df_tmp.items():
    if pd.api.types.is_string_dtype(content):
        df_tmp[label] = content.astype("category").cat.as_ordered()

In [10]:
df_tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Data columns (total 57 columns):
SalesID                     412698 non-null int64
SalePrice                   412698 non-null float64
MachineID                   412698 non-null int64
ModelID                     412698 non-null int64
datasource                  412698 non-null int64
auctioneerID                392562 non-null float64
YearMade                    412698 non-null int64
MachineHoursCurrentMeter    147504 non-null float64
UsageBand                   73670 non-null category
fiModelDesc                 412698 non-null category
fiBaseModel                 412698 non-null category
fiSecondaryDesc             271971 non-null category
fiModelSeries               58667 non-null category
fiModelDescriptor           74816 non-null category
ProductSize                 196093 non-null category
fiProductClassDesc          412698 non-null category
state                       412698 non-null category
ProductGroup                412698 non-null category
ProductGroupDesc            412698 non-null category
Drive_System                107087 non-null category
Enclosure                   412364 non-null category
Forks                       197715 non-null category
Pad_Type                    81096 non-null category
Ride_Control                152728 non-null category
Stick                       81096 non-null category
Transmission                188007 non-null category
Turbocharged                81096 non-null category
Blade_Extension             25983 non-null category
Blade_Width                 25983 non-null category
Enclosure_Type              25983 non-null category
Engine_Horsepower           25983 non-null category
Hydraulics                  330133 non-null category
Pushblock                   25983 non-null category
Ripper                      106945 non-null category
Scarifier                   25994 non-null category
Tip_Control                 25983 non-null category
Tire_Size                   97638 non-null category
Coupler                     220679 non-null category
Coupler_System              44974 non-null category
Grouser_Tracks              44875 non-null category
Hydraulics_Flow             44875 non-null category
Track_Type                  102193 non-null category
Undercarriage_Pad_Width     102916 non-null category
Stick_Length                102261 non-null category
Thumb                       102332 non-null category
Pattern_Changer             102261 non-null category
Grouser_Type                102193 non-null category
Backhoe_Mounting            80712 non-null category
Blade_Type                  81875 non-null category
Travel_Controls             81877 non-null category
Differential_Type           71564 non-null category
Steering_Controls           71522 non-null category
saleYear                    412698 non-null int64
saleMonth                   412698 non-null int64
saleDate                    412698 non-null int64
saleDayOfWeek               412698 non-null int64
saleDayOfYear               412698 non-null int64
dtypes: category(44), float64(3), int64(10)
memory usage: 60.1 MB

## Fill missing values

### Fill the columns first that have numerical missing values

In [11]:
for label, content in df_tmp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

auctioneerID
MachineHoursCurrentMeter

In [16]:
df_tmp.describe(include=["float64"])

           SalePrice   auctioneerID  MachineHoursCurrentMeter
count  412698.000000  392562.000000              1.475040e+05
mean    31215.181414       6.585268              3.522988e+03
std     23141.743695      17.158409              2.716993e+04
min      4750.000000       0.000000              0.000000e+00
25%     14500.000000       1.000000              0.000000e+00
50%     24000.000000       2.000000              0.000000e+00
75%     40000.000000       4.000000              3.209000e+03
max    142000.000000      99.000000              2.483300e+06

In [20]:
df.auctioneerID.median(), df.MachineHoursCurrentMeter.median()

(2.0, 0.0)

In [21]:
for label, content in df_tmp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            # Add a binary column which tells us if the data was missing
            df_tmp[label+"_is_missing"] = pd.isnull(content)
            # Fill missing numeric values with median
            df_tmp[label] = content.fillna(content.median())

In [22]:
len(df_tmp.columns)

59

In [25]:
df_tmp.iloc[:20, 57:].T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
auctioneerID_is_missing,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
MachineHoursCurrentMeter_is_missing,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

#### observation
why these extra 2 columns? Although the missing rows are filled, we want to keep track of this information that these values were initially missing.

In [26]:
# check if there is still any null numeric column
for label, content in df_tmp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

### Filling missing categorical values

In [27]:
# check the columns that are not numeric
for label, content in df_tmp.items():
    if not pd.api.types.is_numeric_dtype(content):
        print(label)

UsageBand
fiModelDesc
fiBaseModel
fiSecondaryDesc
fiModelSeries
fiModelDescriptor
ProductSize
fiProductClassDesc
state
ProductGroup
ProductGroupDesc
Drive_System
Enclosure
Forks
Pad_Type
Ride_Control
Stick
Transmission
Turbocharged
Blade_Extension
Blade_Width
Enclosure_Type
Engine_Horsepower
Hydraulics
Pushblock
Ripper
Scarifier
Tip_Control
Tire_Size
Coupler
Coupler_System
Grouser_Tracks
Hydraulics_Flow
Track_Type
Undercarriage_Pad_Width
Stick_Length
Thumb
Pattern_Changer
Grouser_Type
Backhoe_Mounting
Blade_Type
Travel_Controls
Differential_Type
Steering_Controls

In [28]:
df_tmp.state.cat.categories

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Unspecified', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'Washington DC', 'West Virginia', 'Wisconsin',
       'Wyoming'],
      dtype='object')

In [29]:
pd.Categorical(df_tmp["state"])

[Texas, Florida, Florida, Florida, Florida, ..., California, California, California, California, California]
Length: 412698
Categories (53, object): [Alabama < Alaska < Arizona < Arkansas ... Washington DC < West Virginia < Wisconsin < Wyoming]

In [30]:
pd.Categorical(df_tmp["state"]).categories

Index(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Unspecified', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'Washington DC', 'West Virginia', 'Wisconsin',
       'Wyoming'],
      dtype='object')

In [31]:
pd.Categorical(df_tmp["state"]).codes

array([43,  8,  8, ...,  4,  4,  4], dtype=int8)

### Turn categorical variables into numbers and fill missing

In [34]:
pd.Categorical(df_tmp["UsageBand"]).codes

array([-1, -1, -1, ..., -1, -1, -1], dtype=int8)

In [35]:
pd.Categorical(df_tmp["UsageBand"]).codes + 1

array([0, 0, 0, ..., 0, 0, 0], dtype=int8)

In [36]:
for label, content in df_tmp.items():
    if not pd.api.types.is_numeric_dtype(content):
        # Add binary column
        df_tmp[label+"_is_missing"] = pd.isnull(content)
        # Turn categories into numbers and add 1
        df_tmp[label] = pd.Categorical(df_tmp["state"]).codes + 1

In [33]:
pd.Categorical(df_tmp["state"]).codes + 1

array([44,  9,  9, ...,  5,  5,  5], dtype=int8)

##### Why adding 1?

If pandas category has missing values, it encoded `-1`. To make it 0 we add 1.

In [38]:
df_tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412698 entries, 0 to 412697
Columns: 103 entries, SalesID to Steering_Controls_is_missing
dtypes: bool(46), float64(3), int64(10), int8(44)
memory usage: 76.4 MB

In [39]:
len(df_tmp.columns)

103

In [41]:
df_tmp.isnull().sum()

SalesID                         0
SalePrice                       0
MachineID                       0
ModelID                         0
datasource                      0
                               ..
Backhoe_Mounting_is_missing     0
Blade_Type_is_missing           0
Travel_Controls_is_missing      0
Differential_Type_is_missing    0
Steering_Controls_is_missing    0
Length: 103, dtype: int64

## Build model

As there are no missing value in the dataset, we can now build our model

In [42]:
from sklearn.ensemble import RandomForestRegressor

In [43]:
%%time

X = df_tmp.drop("SalePrice", axis=1)
y = df_tmp["SalePrice"]

# Instantiating model
model = RandomForestRegressor(n_jobs=-1, random_state=42)
# fit the model
model.fit(X, y)

Wall time: 20min 49s

RandomForestRegressor(n_jobs=-1, random_state=42)

### Save preprocessed data

In [44]:
df_tmp.to_csv("data/eda_2.csv", index=False)